<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick & Morty API
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-item [routerLink]="['/userlist']" routerLinkActive="router-link-active" >
  <ion-label>Characters</ion-label>
</ion-item>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>This is a Api Demo With Ionic</strong>
    <p>Created by: <a target="_blank" rel="noopener noreferrer" href=""> Jethro Castillo</a></p>
  </div>
</ion-content>
